crewai==0.51.1
litellm==1.44.22
langchain==0.2.14
langchain-community==0.2.12
langchain-ollama==0.1.1
langchain-openai==0.1.23
langgraph==0.2.22
chromadb==0.5.5
streamlit
pandas
matplotlib
seaborn
arxiv
pyvis
networkx
python-dotenv
sentence-transformers
pydantic==2.8.2
google-generativeai
plotly
