crewai
litellm
langchain
langchain-community
langchain-ollama
langchain-openai
chromadb
streamlit
pandas
matplotlib
seaborn
arxiv
pyvis
networkx
python-dotenv
sentence-transformers
pydantic
google-generativeai
plotly
